<div id="logo">
  <div class="logo_block highlighted"></div><div class="logo_block not_highlighted"></div><div class="logo_block not_highlighted"></div>

  <div class="logo_block not_highlighted"></div><div class="logo_block highlighted"></div><div class="logo_block not_highlighted"></div>

  <div class="logo_block not_highlighted"></div><div class="logo_block highlighted"></div><div class="logo_block highlighted"></div>
</div>