<h1>Find Address</h1>

<%= form_for @search do |f| %>
<p>
  <%= f.text_field :address, placeholder: "Address, City, State" %>
</p>
<p>
  <%= f.submit "Search!" %>
</p>
<% end %>

<br />

<h1>Recent Searches</h1>

<% @searches.reverse.each do |s| %>
  <%= link_to s.address, s %><br />
<% end %>