$highlightColor: #7FFF00;
$highlightDarker: #5CCC00;

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 20px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 2px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: $highlightColor;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 100;
}

input[type="text"], input[type="submit"] {
  border: 0px;
  border-radius: 10px;
  background-color: #7FFF00;
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

input[type="text"] {
  width: 450px;
}

.highlight {
  color: $highlightDarker;
  font-weight: bold;
}

.title {
  font-size: 2.5em;
  font-weight: 100;
  line-height: 0.8em;
}

#google_map {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -10px;
  margin: 10px auto;
  background-color: #000000;
}

#overlay_top {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 85px;
  padding-top: 5px;
  background-color: #fff;
  opacity: 0.85;
  z-index: 99;
}

#overlay_bottom {
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 100%;
  padding-top: 5px;
  background-color: #fff;
  opacity: 0.85;
  z-index: 98;
}