$highlightColor: #7FFF00;
$highlightDarker: #5CCC00;
$logoUnselected: #cccccc;

html, body {
  height: 100%;
}

body {
  background-color: #000;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 20px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

main {
  background-color: #000;
  background-image: url('/assets/background_city.jpg');
  //background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 2px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: $highlightColor;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#main_top {
  text-align: center;
  display: inline-block;
  background-color: #fff;
  opacity: 0.85;
  width: 100%;
  height: 65px;
  padding: 0px;
  margin: 0px;
  -moz-box-shadow:    0 0px 15px #000000;
  -webkit-box-shadow: 0 0px 15px #000000;
  box-shadow:         0 0px 15px #000000;
}

#main_search_area {
  text-align: center;
  display: inline-block;
  color: #fff;
  opacity: 0.85;
  width: 100%;
  padding: 65px 0px 0px 0px;
  height: 190px;
  margin: 0px;
}

#main_bottom {
  text-align: center;
  display: inline-block;
  background-color: #fff;
  opacity: 0.85;
  width: 100%;
  padding: 10px;
  margin: 0px;
  -moz-box-shadow:    0 0px 15px #000000;
  -webkit-box-shadow: 0 0px 15px #000000;
  box-shadow:         0 0px 15px #000000;
}

#logo_area {
  display: inline-block;
  width: 720px;
  text-align: center;
  margin-top: 15px;
}

#logo {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: -7px 0px 0px 5px;
  padding: 0px;
  .logo_block {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0px;
    margin: 0px 4px 0px 4px;
    line-height: 0em;
    font-size: 0em;
  }
  .highlighted {
    background-color: $highlightColor;
  }
  .not_highlighted {
    background-color: $logoUnselected;
  }
}

.maintitle {
  font-size: 3em;
  line-height: 0.5em;
}

.subtitle {
  font-size: 1em;
  line-height: 0.5em;
  margin: -50px 0 5px 0;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

tr:nth-child(even) {
    background-color: #EEEEEE;
}

td {
  white-space: nowrap;
}

h1 {
  font-size: 2.5em;
  font-weight: 100;
  line-height: 0.2em;
}

h2 {
  font-size: 2em;
  font-weight: 100;
}

input[type="text"], input[type="submit"] {
  border: 0px;
  border-radius: 10px;
  background-color: #7FFF00;
  padding: 10px;
  margin: 5px;
  font-size: 1.4em;
  text-align: center;
}

input[type="text"] {
  width: 500px;
}

input[type="submit"] {
  width: 140px;
}

.highlight {
  color: $highlightDarker;
  font-weight: bold;
}

.title {
  font-size: 2em;
  font-weight: 100;
  line-height: 0.8em;
  white-space: nowrap;
}

.about {
  display: inline-block;
  text-align: center;
  line-height: 1em;
  width: 720px;
  margin-left: -20px;
  padding: 0px;
}

.floating_text {
  display: inline-block;
  background-color: #fff;
  //font-weight: bold;
  color: #000;
  font-size: 0.8em;
  line-height: 1em;
  border: 0px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  //width: 550px;
  opacity: 0.9;
}

.search_float {
  top: 80px;
  left: 50%;
  position: absolute;
  margin-left: -318px;
  input[type="text"], input[type="submit"] {
    background-color: #ccc;
    font-size: 1em;
  }
}

.not_available {
  color: #aaaaaa;
}

#google_map {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -10px;
  margin: 10px auto;
  background-color: #000000;
}

#logo_float {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 0px;
  opacity: 0.2;
  margin: 0px;
  padding: 0px;
  z-index: 99;
}

#overlay_top {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 70px;
  padding-top: 5px;
  background-color: #fff;
  opacity: 0.85;
  z-index: 98;
  -moz-box-shadow:    0 0px 15px #000000;
  -webkit-box-shadow: 0 0px 15px #000000;
  box-shadow:         0 0px 15px #000000;
}

#overlay_bottom {
  position: absolute;
  bottom: 0px;
  height: 65px;
  width: 100%;
  padding-top: 5px;
  background-color: #fff;
  opacity: 0.85;
  z-index: 97;
  -moz-box-shadow:    0 0px 15px #000000;
  -webkit-box-shadow: 0 0px 15px #000000;
  box-shadow:         0 0px 15px #000000;
}

#copyright_float {
  position: absolute;
  bottom: 70px;
  right: 5px;
}

#freedom_score {
  margin-top: 10px;
}

.howtoblock {
  font-size: 0.5em;
  line-height: 0.6em;
}